.calendarContainer{
    margin-top: 200px;
    h1{
        color: #fff; 
        font-size: 53px; 
        margin: 0; 
        font-weight: 400; 
        cursor: pointer;
    
        &::before { 
            color: #ffd700; 
            font-size: 18px; 
            position: absolute; 
            margin-top: -40px; 
            left: 15px; 
            opacity: 0.6; 
        }
    
        &::after { 
            color: #ffd700; 
            font-size: 18px; 
            position: absolute; 
            margin-top: 18px; 
            left: 20px; 
            animation: fadeIn 1s 1.7s backwards; 
            opacity: 0.6; 
        }
    }
}